<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.min.css" />
    <style type="text/css">
    body {
        padding-top: 50px;
    }
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Admin Login</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <p th:if="${param.logout}" class="bg-warning">sign out successfully</p>
        <p th:if="${param.error}" class="bg-warning">username or password wrong</p>
        <h2>Admin Login</h2>
        <form name="form" th:action="@{/login}" method="post" id="login_form">
            <div class="form-group">
                <label for="username">username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="please enter username" autofocus="autofocus" />
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="please enter password"/>
            </div>
            &nbsp;&nbsp;&nbsp;<input type="submit" id="login_button" value="Login" class="btn btn-primary" />
        </form>
    </p>
</div>
<script th:replace="script"/>
<script type="text/javascript">
    $(document).ready(function(){
        $("#login_form").submit(function () {
            var username = $("#username").val();
            if(username === '') {
                alert("username cannot be empty");
                return false;
            }
            var password = $("#password").val();
            if(password === '') {
                alert("password cannot be empty");
                return false;
            }
        });
    });
</script>
</body>
</html>